.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

.wrapper .viewer {
  position: relative;
  flex: 0 0 100%;
  max-width: 100%;
}

.wrapper .viewer h3 {
  color: white;
  font-weight: 200;
}

.wrapper .viewer[data-name="charts"] .chart-wrapper {
  display: inline-block;
  width: 50%;
}

.border-box {
  border: 1px solid #aaa;
  padding: 15px;
}
